.git
.github
target
__pycache__
*.pyc

.env
.env.*

*.dump
*.dump.*
*.filepart
trainers.dump.filepart

account_id_analysis.py
affinity.py
affinity_test.py
apply_affinity_migration.py
checker.js

docker-image.yml